

{% extends 'assets/main.html' %}
{% load static %}
{% block maincontent %}
<main class="main">

	<!-- Start Breadcrumb
	============================================= -->
	<div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/breadcrumb.jpg)">
		<div class="container">
		<h2 class="breadcrumb-title">About Us</h2>
			<ul class="breadcrumb-menu clearfix">
				<li><a href="index.html">Home</a></li>
				<li class="active">Our Services</li>
			</ul>
		</div>
	</div>
	<!-- End Breadcrumb -->

	<!-- Start About Us
	============================================= -->
	<div class="skill about-2 de-padding">
		<div class="container">
			<div class="skill-wpr grid-2">
				<div class="skill-left">
					<div class="skill-left-pic">
						<img src="{% static 'assets/img/shape/image-shape.png' %}" alt="thumb">
						<div class="about-tri">
							<img src="{% static 'assets/img/shape/year-shape.png' %}" alt="thumb">
							<div class="about-tri-text">
								<span>20+</span>
								<p class="mb-0">Years of Experience</p>
							</div>
						</div>
					</div>
				</div>
				<div class="skill-right">
					<h3 class="site-sub-heading">
						About Us
						<span class="site-wave">
							<img src="{% static 'assets/img/shape/wave-2.png' %}" alt="thumb">
						</span>
					</h3>
					<h2 class="site-heading">
						Innovative Solution For Business
					</h2>
					<p class="skill-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium asperiores nesciunt accusamus tenetur necessitatibus dolore aliquam corporis cumque voluptates laborum consequatur est, repudiandae voluptatum consectetur quos provident. Hic, ut cumque.
					</p>
					<ul class="about-2-list">
						<li>
							<div class="about-list-opt">
								<i class="icofont-tick-boxed"></i>
								<h4 class="mb-0">Business Analysis</h4>
							</div>
						</li>
						<li>
							<div class="about-list-opt">
								<i class="icofont-tick-boxed"></i>
								<h4 class="mb-0">Big Data Analysis</h4>
							</div>
						</li>
						<li>
							<div class="about-list-opt">
								<i class="icofont-tick-boxed"></i>
								<h4 class="mb-0">IT security</h4>
							</div>
						</li>
						<li>
							<div class="about-list-opt">
								<i class="icofont-tick-boxed"></i>
								<h4 class="mb-0">IT Consultancy</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End About Us -->

	<!-- Start Counter
	============================================= -->
	<div class="counter-area de-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 offset-xl-3">
					<div class="site-title wh text-center">
						<h3 class="site-sub-heading">
							Fun Fact
							<span class="site-wave">
								<img src="{% static 'assets/img/shape/wave-3.png' %}" alt="thumb">
							</span>
						</h3>
						<h2 class="site-heading mb-0">
							Our Magic Numbers
						</h2>
					</div>
				</div>
			</div>
			<div class="counter-wpr counter-1 grid-4">
				<div class="fun-fact">
					<div class="fun-desc">
						<p class="timer" data-count="+" data-to="200" data-speed="3000">200</p>
						<span class="medium">Completed Projects</span>
					</div>
				</div>
				<div class="fun-fact fun-active">
					<div class="fun-desc">
						<p class="timer" data-count="+" data-to="150" data-speed="3000">150</p>
						<span class="medium">Services Provider</span>
					</div>
				</div>
				<div class="fun-fact">
					<div class="fun-desc">
						<p class="timer" data-count="+" data-to="233" data-speed="3000">233</p>
						<span class="medium">Cloud Designs</span>
					</div>
				</div>
				<div class="fun-fact">
					<div class="fun-desc">
						<p class="timer" data-count="+" data-to="25" data-speed="3000">25</p>
						<span class="medium">Awards Won</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Counter -->

	<!-- Start how works
	============================================= -->
	<div class="process-area de-pb">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<div class="site-title text-center">
						<h3 class="site-sub-heading">
							Steps
							<span class="site-wave">
								<img src="{% static 'assets/img/shape/wave-2.png' %}" alt="thumb">
							</span>
						</h3>
						<h2 class="site-heading mb-0">
							How Are We Work?
						</h2>
					</div>
				</div>
			</div>
			<div class="process-wrapper grid-4">
				<div class="process-box bottom-line">
					<div class="proc-icon">
						<i class="flaticon-meeting"></i>
					</div>
					<div class="proc-line">
						<span>1</span>
					</div>
					<div class="proc-desc">
						<h5>Meetup</h5>
						<p>
							Evening do forming observe spirits is in. Country hearted be of justice sending
						</p>

					</div>
				</div>
				<div class="process-box top-line">
					<div class="proc-desc">
						<h5>Collect Info</h5>
						<p>
							Evening do forming observe spirits is in. Country hearted be of justice sending
						</p>
					</div>
					<div class="proc-line">
						<span>2</span>
					</div>
					<div class="proc-icon">
						<i class="flaticon-monitor-1"></i>
					</div>
				</div>
				<div class="process-box bottom-line">
					<div class="proc-icon">
						<i class="flaticon-process"></i>
					</div>
					<div class="proc-line">
						<span>3</span>
					</div>
					<div class="proc-desc">
						<h5>Implement Plan</h5>
						<p>
							Evening do forming observe spirits is in. Country hearted be of justice sending
						</p>

					</div>
				</div>
				<div class="process-box top-line">
					<div class="proc-desc">
						<h5>Start Work</h5>
						<p>
							Evening do forming observe spirits is in. Country hearted be of justice sending
						</p>

					</div>
					<div class="proc-line">
						<span>4</span>
					</div>
					<div class="proc-icon">
						<i class="flaticon-shuttle"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End how works -->

	<!-- Start Skill
	============================================= -->
	<div class="skill bg de-padding">
		<div class="container">
			<div class="skill-wpr grid-2">
				<div class="skill-left">
					<div class="skill-left-pic">
						<img src="{% static 'assets/img/bg/bg-1.jpg' %}" alt="thumb">
					</div>
				</div>
				<div class="skill-right">
					<h3 class="site-sub-heading">
						Our Skills
						<span class="site-wave">
							<img src="{% static 'assets/img/shape/wave-1.png' %}" alt="thumb">
						</span>
					</h3>
					<h2 class="site-heading">
						Best Way to Showcse your Business
					</h2>
					<p class="skill-desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium asperiores nesciunt accusamus tenetur necessitatibus dolore aliquam corporis cumque voluptates laborum consequatur est, repudiandae voluptatum consectetur quos provident. Hic, ut cumque.
					</p>
					<div class="skills-section">
						<!-- Progress Bar Start -->
						<div class="progress-box">
							<h5>Photography <span class="pull-right">80%</span></h5>
							<div class="progress" style="opacity: 1; left: 0px;">
								<div class="progress-bar" role="progressbar" data-width="80" style="width: 80%;"></div>
							</div>
						</div>
						<div class="progress-box">
							<h5>Graphics Design <span class="pull-right">90%</span></h5>
							<div class="progress" style="opacity: 1; left: 0px;">
								<div class="progress-bar" role="progressbar" data-width="90" style="width: 90%;"></div>
							</div>
						</div>
						<div class="progress-box">
							<h5>Application Development <span class="pull-right">90%</span></h5>
							<div class="progress" style="opacity: 1; left: 0px;">
								<div class="progress-bar" role="progressbar" data-width="90" style="width: 90%;"></div>
							</div>
						</div>
						<!-- End Progressbar -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Skill -->

	<!-- Start Partner
	============================================= -->
	<div class="partner-area de-padding">
		<div class="container">
			<div class="partner-wpr partner-sldr owl-carousel owl-theme">
				<img src="{% static 'assets/img/partner/client-1.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-2.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-3.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-4.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-5.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-6.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-7.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-8.png' %}" alt="thumb">
				<img src="{% static 'assets/img/partner/client-1.png' %}" alt="thumb">
			</div>
		</div>
	</div>
	<!-- End Partner -->

</main>


{% endblock maincontent %}
