
{% extends 'assets/main.html' %}
{% load static %}
{% block maincontent %}
      
	<main class="main">
        
		<!-- Start Slider
		============================================= -->
		<div class="hero-section hero-sldr owl-carousel owl-theme">
			<div class="hero-single" style="background-image: url('{% static 'assets/img/header/hdr1.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                             <div class="hero-content text-center">
								 <h3 class="hero-title">
									Endpoint and Security Operations
								</h3>
								 <p>
									We specialize in endpoint security management, ensuring that all devices connected to your network are secure. 
								 </p>
								<div class="hero-btn">
									<a href="contact.html" target="_blank" class="btn-4">Contact Us</a>
									<a href="about.html" target="_blank" class="btn-4">About Us</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{% comment %} {% static '' %} {% endcomment %}
			<div class="hero-single" style="background-image: url('{% static 'assets/img/header/hdr2.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                             <div class="hero-content text-center">
								 <h3 class="hero-title">
									Protect cloud-based applications
								</h3>
								 <p>
									This is even more crucial for securing dynamic working processes as employees increasingly work from home.
								 </p>
								<div class="hero-btn">
									<a href="contact.html" target="_blank" class="btn-4">Contact Us</a>
									<a href="about.html" target="_blank" class="btn-4">About Us</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			{% comment %} {% static '' %} {% endcomment %}
			<div class="hero-single" style="background-image: url('{% static 'assets/img/header/hdr3.jpg' %}')">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                             <div class="hero-content text-center">
								 <h3 class="hero-title">
									Data loss prevention
								</h3>
								 <p>
									Data loss prevention (DLP) enables organizations to detect and prevent potential data breaches. 
								 </p>
								<div class="hero-btn">
									<a href="contact.html" target="_blank" class="btn-4">Contact Us</a>
									<a href="about.html" target="_blank" class="btn-4">About Us</a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<!-- End Slider -->
		
		<!-- Start Feature
		============================================= -->
		<div class="feature-area de-pt">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2">
						<div class="site-title text-center">
							<h3 class="site-sub-heading">
								Services
								<span class="site-wave">
									<img src="{% static 'assets/img/shape/wave-2.png' %}" alt="thumb">
								</span>
							</h3>
							<h2 class="site-heading mb-0">
								Our Core Services
							</h2>
						</div>
					</div>
				</div>
				<div class="feature-wpr grid-4">
					<div class="feature-box">
						<div class="feature-icon">
					
						</div>
						<div class="feature-desc">
							<h4>Data Security</h4>
							<p>
								Our data security services are designed to safeguard sensitive information against threats and vulnerabilities. 
							</p>
						</div>
						<div class="feature-button">
							<a href="#" class="feature-btn">
								<i class="icofont-long-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-icon">
							
						</div>
						<div class="feature-desc">
							<h4>Email Security </h4>
							<p>
								Email security tools enable organisations to detect and prevent email-borne security threats. This helps to prevent employees from clicking on harmful links, accessing malicious attachments, or visiting faked websites. 
							</p>
						</div>
						<div class="feature-button">
							<a href="#" class="feature-btn">
								<i class="icofont-long-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-icon">
						
						</div>
						<div class="feature-desc">
							<h4>Information and Data Management</h4>
							<p>
								We provide innovative data management strategies that facilitate secure data storage, seamless access, and efficient retrieval, supporting informed decision-making.
							</p>
						</div>
						<div class="feature-button">
							<a href="#" class="feature-btn">
								<i class="icofont-long-arrow-right"></i>
							</a>
						</div>
					</div>
					<div class="feature-box">
						<div class="feature-icon">
						
						</div>
						<div class="feature-desc">
							<h4>Endpoint and Security Operations
							</h4>
							<p>
								We specialize in endpoint security management, ensuring that all devices connected to your network are secure. 
							</p>
						</div>
						<div class="feature-button">
							<a href="#" class="feature-btn">
								<i class="icofont-long-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- End Feature -->
		
		<!-- Start Skill
		============================================= -->
		<div class="skill about-2 de-padding">
			<div class="container">
				<div class="skill-wpr grid-2">
					<div class="skill-left">
						<div class="skill-left-pic">
							<img src="{% static 'assets/img/shape/image-shape.png' %}" alt="thumb">
							<div class="about-tri">
								<img src="{% static 'assets/img/shape/year-shape.png' %}" alt="thumb">
								<div class="about-tri-text">
									<span>9+</span>
									<p class="mb-0">Years of Experience</p>
								</div>
							</div>
						</div>
					</div>
					<div class="skill-right">
						<h3 class="site-sub-heading">
							About Us
							<span class="site-wave">
								<img src="{% static 'assets/img/shape/wave-2.png' %}" alt="thumb">
							</span>
						</h3>
						<h2 class="site-heading">
							SEGSOL Network Solutions Limited – Empowering Businesses, Securing Futures.
						</h2>
						<p class="skill-desc">
							SEGSOL Network Solutions Limited is a leading provider of comprehensive Information Technology solutions, dedicated to empowering businesses with robust data security and efficient operational management. Our expertise spans across multiple domains, including endpoint and security operations, application and network protection, information and data management, and service delivery.
						</p>
						<ul class="about-2-list">
							<li>
								<div class="about-list-opt">
									<i class="icofont-tick-boxed"></i>
									<h4 class="mb-0">Data Security</h4>
								</div>
							</li>
							<li>
								<div class="about-list-opt">
									<i class="icofont-tick-boxed"></i>
									<h4 class="mb-0">Cloud data security</h4>
								</div>
							</li>
							<li>
								<div class="about-list-opt">
									<i class="icofont-tick-boxed"></i>
									<h4 class="mb-0">Protect cloud-based applications</h4>
								</div>
							</li>
							<li>
								<div class="about-list-opt">
									<i class="icofont-tick-boxed"></i>
									<h4 class="mb-0">Data loss prevention</h4>
								</div>
							</li>
							<li>
								<div class="about-list-opt">
									<i class="icofont-tick-boxed"></i>
									<h4 class="mb-0">Endpoint and Security Operations</h4>
								</div>
							</li>
							<li>
								<div class="about-list-opt">
									<i class="icofont-tick-boxed"></i>
									<h4 class="mb-0">Information and Data Management</h4>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Skill -->
		
		
		
		
		
	
		
		<!-- Start Portfolio
		============================================= -->
		{% comment %} <div id="work" class="project-area bg de-padding">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-8">
						<div class="site-title">
							<h3 class="site-sub-heading">
								Our Work
								<span class="site-wave">
									<img src="{% static 'assets/img/shape/wave-1.png' %}" alt="thumb">
								</span>
							</h3>
							<h2 class="site-heading mb-0">
								Our Latest Project
							</h2>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="site-btn text-right">
							<a href="work.html" class="btn-6">View All</a>
						</div>
					</div>
				</div>
				<div class="project-wpr">
					<div id="filters" class="toolbar mb-40">
						<button class="btn fil-cat filter active" data-filter="all">
							   All
						</button>
						<button class="btn fil-cat filter" data-rel="web" data-filter=".web">
							UI Design
						</button>
						<button class="btn fil-cat filter" data-rel="flyers" data-filter=".flyers">
							Web Development
						</button> 
						<button class="btn fil-cat filter" data-rel="graphic" data-filter=".graphic">
							Graphic Design
						</button>
						<button class="btn fil-cat filter" data-rel="wordpress" data-filter=".wordpress">
							Wordpress
						</button>
					</div>
					<div id="portfolio" class="magnific-mix-gallery">
						<div class="portfolio-grid">
							<div class="row g-3">
								<div class="col-xl-7 col-lg-7">
									<div class="project-box tile scale-anm web graphic">
										<div class="port-pic">
											<img src="{% static 'assets/img/work/wrk-2.jpg' %}" alt="thumb">
											<div class="port-overlay">
												<a href="work-single.html" target="_blank">
													<h5 class="port-title">Building dream project</h5>
												</a>
												<div class="port-content">
													<a href="assets/img/work/wrk-2.jpg" class="item popup-link port-link">
														<i class="fas fa-eye"></i>
													</a>
													<a href="work-single.html" target="_blank" class="port-link">
														<i class="fas fa-link"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5">
									<div class="project-box tile scale-anm flyers wordpress">
										<div class="port-pic">
											<img src="{% static 'assets/img/work/wrk-1.jpg' %}" alt="thumb">
											<div class="port-overlay">
												<a href="work-single.html" target="_blank">
													<h5 class="port-title">Building dream project</h5>
												</a>
												<div class="port-content">
													<a href="assets/img/work/wrk-1.jpg" class="item popup-link port-link">
														<i class="fas fa-eye"></i>
													</a>
													<a href="work-single.html" target="_blank" class="port-link">
														<i class="fas fa-link"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5">
									<div class="project-box tile scale-anm web illus">
									  <div class="port-pic">
											<img src="{% static 'assets/img/work/wrk-4.jpg' %}" alt="thumb">
											<div class="port-overlay">
												<a href="work-single.html" target="_blank">
													<h5 class="port-title">Building dream project</h5>
												</a>
												<div class="port-content">
													<a href="assets/img/work/wrk-4.jpg" class="item popup-link port-link">
														<i class="fas fa-eye"></i>
													</a>
													<a href="work-single.html" target="_blank" class="port-link">
														<i class="fas fa-link"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-7 col-lg-7">
									<div class="project-box tile scale-anm flyers">
										<div class="port-pic">
											<img src="{% static 'assets/img/work/wrk-3.jpg' %}" alt="thumb">
											<div class="port-overlay">
												<a href="work-single.html" target="_blank">
													<h5 class="port-title">Building dream project</h5>
												</a>
												<div class="port-content">
													<a href="assets/img/work/wrk-3.jpg" class="item popup-link port-link">
														<i class="fas fa-eye"></i>
													</a>
													<a href="work-single.html" target="_blank" class="port-link">
														<i class="fas fa-link"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Portfolio-->
				</div>
				<div class="port-load text-center mt-70">
					<a href="#" class="btn-4">
						Load More 
						<i class="fas fa-chevron-right"></i>
					</a>
				</div>
			</div>
		</div> {% endcomment %}
		<!-- End Portfolio -->
		
	
		
		<!-- Start Blog
		============================================= -->
		{% comment %} <div class="blog-area de-padding">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-8">
						<div class="site-title">
							<h3 class="site-sub-heading">
								BLog
								<span class="site-wave">
									<img src="{% static 'assets/img/shape/wave-2.png' %}" alt="thumb">
								</span>
							</h3>
							<h2 class="site-heading mb-0">
								Our Latest News
							</h2>
						</div>
					</div>
					<div class="col-xl-4">
						<div class="site-btn text-right">
							<a href="#" class="btn-6">View All</a>
						</div>
					</div>
				</div>
				<div class="blog-wpr">
					<div class="row g-5">
						<div class="col-xl-5 col-lg-5">
							<div class="blog-box">
								<div class="blog-pic">
									<img src="{% static 'assets/img/blog/1.jpg' %}" alt="thumb">
									<div class="blog-overlay">
										<div class="blog-date-tag">
											<div class="blog-tag">
												<a href="#">Business</a>
											</div>
										</div>
										<div class="blog-bottom">
											<div class="blog-bio">
												<div class="blog-user-pic">
													<img src="{% static 'assets/img/single/user-1-s.png' %}" alt="thumb">
												</div>
												<div class="blog-bio-text">
													<h5>Tom Cupper T</h5>
													<span>Admin</span>
												</div>
											</div>
											<div class="blog-content">
												<a href="single.html">
													<h4>
														The Most Useful Resource Created For Developers
													</h4>
												</a>
												<div class="blog-footer">
													<ul>
														<li>
															<a href="#">
																<i class="icofont-comment"></i>
																10 Comments
															</a>
														</li>
														<li>
															
															<a href="#">
																<i class="icofont-ui-calendar"></i>
																19 OCT 2021
															</a>
														</li>
														<li>
															<a href="#">
																<i class="icofont-heart-alt"></i>
																3 Likes
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="blog-box">
								<div class="blog-pic">
									<img src="{% static 'assets/img/blog/2.jpg' %}" alt="thumb">
									<div class="blog-overlay">
										<div class="blog-date-tag">
											<div class="blog-tag">
												<a href="#">Business</a>
											</div>
										</div>
										<div class="blog-bottom">
											<div class="blog-bio">
												<div class="blog-user-pic">
													<img src="{% static 'assets/img/single/user-1-s.png' %}" alt="thumb">
												</div>
												<div class="blog-bio-text">
													<h5>Tom Cupper T</h5>
													<span>Admin</span>
												</div>
											</div>
											<div class="blog-content">
												<a href="single.html">
													<h4>
														The Most Useful Resource Created For Developers
													</h4>
												</a>
												<div class="blog-footer">
													<ul>
														<li>
															<a href="#">
																<i class="icofont-comment"></i>
																10 Comments
															</a>
														</li>
														<li>
															
															<a href="#">
																<i class="icofont-ui-calendar"></i>
																19 OCT 2021
															</a>
														</li>
														<li>
															<a href="#">
																<i class="icofont-heart-alt"></i>
																3 Likes
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<div class="blog-box">
								<div class="blog-pic">
									<img src="{% static 'assets/img/blog/2.jpg' %}" alt="thumb">
									<div class="blog-overlay">
										<div class="blog-date-tag">
											<div class="blog-tag">
												<a href="#">Business</a>
											</div>
										</div>
										<div class="blog-bottom">
											<div class="blog-bio">
												<div class="blog-user-pic">
													<img src="{% static 'assets/img/single/user-1-s.png' %}" alt="thumb">
												</div>
												<div class="blog-bio-text">
													<h5>Tom Cupper T</h5>
													<span>Admin</span>
												</div>
											</div>
											<div class="blog-content">
												<a href="single.html">
													<h4>
														The Most Useful Resource Created For Developers
													</h4>
												</a>
												<div class="blog-footer">
													<ul>
														<li>
															<a href="#">
																<i class="icofont-comment"></i>
																10 Comments
															</a>
														</li>
														<li>
															
															<a href="#">
																<i class="icofont-ui-calendar"></i>
																19 OCT 2021
															</a>
														</li>
														<li>
															<a href="#">
																<i class="icofont-heart-alt"></i>
																3 Likes
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-5 col-lg-5">
							<div class="blog-box">
								<div class="blog-pic">
									<img src="{% static 'assets/img/blog/1.jpg' %}" alt="thumb">
									<div class="blog-overlay">
										<div class="blog-date-tag">
											<div class="blog-tag">
												<a href="#">Business</a>
											</div>
										</div>
										<div class="blog-bottom">
											<div class="blog-bio">
												<div class="blog-user-pic">
													<img src="{% static 'assets/img/single/user-1-s.png' %}" alt="thumb">
												</div>
												<div class="blog-bio-text">
													<h5>Tom Cupper T</h5>
													<span>Admin</span>
												</div>
											</div>
											<div class="blog-content">
												<a href="single.html">
													<h4>
														The Most Useful Resource Created For Developers
													</h4>
												</a>
												<div class="blog-footer">
													<ul>
														<li>
															<a href="#">
																<i class="icofont-comment"></i>
																10 Comments
															</a>
														</li>
														<li>
															
															<a href="#">
																<i class="icofont-ui-calendar"></i>
																19 OCT 2021
															</a>
														</li>
														<li>
															<a href="#">
																<i class="icofont-heart-alt"></i>
																3 Likes
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> {% endcomment %}
		<!-- End Blog -->
		
		<!-- Start Partner
		============================================= -->
		<div class="partner-area de-padding bg">
			<div class="container">
				<div class="partner-wpr partner-sldr owl-carousel owl-theme">
					<img src="{% static 'assets/img/partner/image_3.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_4.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_9.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_13.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_18.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_23.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_27.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_32.png' %}" alt="thumb">
					<img src="{% static 'assets/img/partner/image_34.png' %}" alt="thumb">
				</div>
			</div>
		</div>
		<!-- End Partner -->
		
		<!-- Start Contact Us
		============================================= -->
		<div class="contact-us de-padding">
			<div class="contact-shape">
				<img src="{% static 'assets/img/bg/contact-shape.png' %}" alt="thumb">
			</div>
			<div class="container">
				<div class="contact-us-wpr">
					<div class="row g-5">
						<div class="col-xl-5 col-lg-5">
							<div class="faq-pic">
									<img src="{% static 'assets/img/bg/bg-2.jpg' %}" alt="thumb">
									<div class="faq-pic-overlay">
										<ul>
											<li>
												<div class="faq-add">
													<i class="flaticon-placeholder"></i>
													<div class="faq-ad">
														<h4>Office Address</h4>
														<p class="mb-0">
															{{location}}
															<br>
															Nigeria
														</p>
													</div>
												</div>
											</li>
											<li>
												<div class="faq-add">
													<i class="flaticon-call"></i>
													<div class="faq-ad">
														<h4>Call Us</h4>
														<p class="mb-0">
															{{phone}}
															<br>
															213-369-4139
														</p>
													</div>
												</div>
											</li>
											<li>
												<div class="faq-add">
													<i class="flaticon-envelope"></i>
													<div class="faq-ad">
														<h4>Email Us</h4>
														<p class="mb-0">
															{{email}}
															<br>
														</p>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
						</div>
						<div class="col-xl-7 col-lg-7">
							<form class="contact-form" method="post">
								<h4 class="contact-tl">Contact us</h4>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" name="fname" placeholder="Your Full Name*">
											<span class="alert alert-error"></span>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="email" class="form-control" name="email" placeholder="Your Email Address*">
											<span class="alert alert-error"></span>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" name="subject" placeholder="Subject...">
											<span class="alert alert-error"></span>
										</div>
									</div>
									<div class="col-md-12">
										<textarea class="form-control" name="message" placeholder="Your Message..."></textarea>
										<div class="contact-sub-btn">
											<button type="submit" name="submit" id="submit" class="btn-6">
												Send Message 
												<i class="fas fa-chevron-right"></i>
											</button>
										</div>
										<!-- Alert Message -->
										<div class="alert-notification">
											<div id="message" class="alert-msg"></div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Contact Us -->
		
	</main>	
{% endblock maincontent %}
