

{% extends 'assets/main.html' %}
{% load static %}
{% block maincontent %}


<main class="main">

	<!-- Start Breadcrumb
	============================================= -->
    {% comment %} style="background: url({% static 'assets/img/breadcrumb/image_2.png' %})" {% endcomment %}
	<div class="site-breadcrumb" style="background: url({% static 'assets/img/breadcrumb/breadcrumb.jpg' %})">
		<div class="container">
		<h2 class="breadcrumb-title">Our Projects</h2>
			<ul class="breadcrumb-menu clearfix">
				<li><a href="index.html">Home</a></li>
				<li class="active">service details</li>
			</ul>
		</div>
	</div>
	<!-- End Breadcrumb -->

	<!-- Start Portfolio
	============================================= -->
	<div id="work" class="project-area bg de-padding">
		<div class="container">
			<div class="project-wpr">
				<div id="filters" class="toolbar text-center mb-40">
					<button class="btn fil-cat filter active" data-filter="all">
						   All
					</button>
					<button class="btn fil-cat filter" data-rel="web" data-filter=".web">
						Data Security
					</button>
					<button class="btn fil-cat filter" data-rel="flyers" data-filter=".flyers">
						Information and Data Management
					</button>
					<button class="btn fil-cat filter" data-rel="graphic" data-filter=".graphic">
						Graphic Design
					</button>
					<button class="btn fil-cat filter" data-rel="wordpress" data-filter=".wordpress">
						Wordpress
					</button>
				</div>
				<div id="portfolio" class="magnific-mix-gallery">
					<div class="portfolio-grid">
						<div class="row g-3">
							<div class="col-xl-7 col-lg-7">
								<div class="project-box tile scale-anm web graphic">
									<div class="port-pic">
										<img src="{% static 'assets/img/work/wrk-2.jpg' %}" alt="thumb">
										<div class="port-overlay">
											<a href="work-single.html" target="_blank">
												<h5 class="port-title">Building dream project</h5>
											</a>
											<div class="port-content">
												<a href="assets/img/work/wrk-2.jpg" class="item popup-link port-link">
													<i class="fas fa-eye"></i>
												</a>
												<a href="work-single.html" target="_blank" class="port-link">
													<i class="fas fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5">
								<div class="project-box tile scale-anm flyers wordpress">
									<div class="port-pic">
										<img src="{% static 'assets/img/work/wrk-1.jpg' %}" alt="thumb">
										<div class="port-overlay">
											<a href="work-single.html" target="_blank">
												<h5 class="port-title">Building dream project</h5>
											</a>
											<div class="port-content">
												<a href="assets/img/work/wrk-1.jpg" class="item popup-link port-link">
													<i class="fas fa-eye"></i>
												</a>
												<a href="work-single.html" target="_blank" class="port-link">
													<i class="fas fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5">
								<div class="project-box tile scale-anm web illus">
								  <div class="port-pic">
										<img src="{% static 'assets/img/work/wrk-4.jpg' %}" alt="thumb">
										<div class="port-overlay">
											<a href="work-single.html" target="_blank">
												<h5 class="port-title">Building dream project</h5>
											</a>
											<div class="port-content">
												<a href="assets/img/work/wrk-4.jpg" class="item popup-link port-link">
													<i class="fas fa-eye"></i>
												</a>
												<a href="work-single.html" target="_blank" class="port-link">
													<i class="fas fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-7 col-lg-7">
								<div class="project-box tile scale-anm flyers">
									<div class="port-pic">
										<img src="{% static 'assets/img/work/wrk-3.jpg' %}" alt="thumb">
										<div class="port-overlay">
											<a href="work-single.html" target="_blank">
												<h5 class="port-title">Building dream project</h5>
											</a>
											<div class="port-content">
												<a href="assets/img/work/wrk-3.jpg" class="item popup-link port-link">
													<i class="fas fa-eye"></i>
												</a>
												<a href="work-single.html" target="_blank" class="port-link">
													<i class="fas fa-link"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--Portfolio-->
			</div>
		</div>
	</div>
	<!-- End Portfolio -->

</main>



{% endblock maincontent %}
